@import "tailwindcss";

@font-face {
  font-family: 'DM Sans';
  font-style: regular;
  font-weight: 100-1000;
  src: url('/fonts/DM Sans_regular.woff2') format('woff2');
}

@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 100-1000;
  src: url('/fonts/DM Sans_italic.woff2') format('woff2');
}


@font-face {
  font-family: 'DM Mono';
  font-style: regular;
  font-weight: 300;
  src: url('/fonts/DM Mono_300.woff2') format('woff2');
}

@font-face {
  font-family: 'DM Mono';
  font-style: italic;
  font-weight: 300;
  src: url('/fonts/DM Mono_300italic.woff2') format('woff2');
}

@font-face {
  font-family: 'DM Mono';
  font-style: regular;
  font-weight: 400;
  src: url('/fonts/DM Mono_regular.woff2') format('woff2');
}

@font-face {
  font-family: 'DM Mono';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/DM Mono_italic.woff2') format('woff2');
}

@font-face {
  font-family: 'DM Mono';
  font-style: regular;
  font-weight: 500;
  src: url('/fonts/DM Mono_500.woff2') format('woff2');
}

@font-face {
  font-family: 'DM Mono';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/DM Mono_500italic.woff2') format('woff2');
}

@theme {
  --breakpoint-2xl: initial;
  --breakpoint-xl: initial;

  --font-dm-sans: 'DM Sans', sans-serif;
  --font-dm-mono: 'DM Mono', sans-serif;

  --color-brand-prime: #90B357;
  --color-brand-light: #E3FDB9;
  --color-brand-quitelight: #e2eed3;
  --color-brand-extralight: #F9FFF2;

  --color-code-bg: #262F2B;
  --color-code-header: #2e3633;

  --color-code-red: #B52343;
  --color-code-orange: #cb6217;
  --color-code-yellow: #F6E569;
  --color-code-blue: #7CC8FF;

  --color-text-strong: #262F2B;
  --color-text-main: #262F2B;
  --color-text-light: #44554E;
  --color-text-subtle: #7F938B;
}

body {
  font-family: var(--font-dm-sans);
  background: var(--color-brand-extralight);
  color: var(--color-text-main);
}

body.dark {
  --color-brand-extralight: #11160d;
  --color-text-strong: #fff;
  --color-text-main: #dadfd5;
  --color-text-light: #fff;
  --color-text-subtle: #87917e;
}

@utility container {
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(var(--spacing) * 4) calc(var(--spacing) * 4);
}

.site-nav {
  padding: calc(var(--spacing) * 4) 0;
}

.site-nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav .site-links {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 2);
}

.site-nav .site-links a {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 2);
  color: var(--color-text-main);
  font-weight: var(--font-weight-medium);
  padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
}

.site-nav .site-links a svg {
  color: var(--color-text-subtle);
}

.site-nav .site-links .special-link a {
  background-color: var(--color-brand-prime);
  color: var(--color-white);
  border-radius: 100rem;
}

.site-nav .site-links .special-link a svg {
  color: var(--color-brand-light);
}

.site-nav .nav-search input {
  border: 1px solid var(--color-brand-quitelight);
  border-radius: 100rem;
  font-size: var(--text-sm);
  padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
}

.site-nav .nav-search input:focus {
  outline: 2px solid --alpha(var(--color-brand-prime) / 20%);
  border-color: var(--color-brand-prime);
}

.site-hero {
  background: linear-gradient(180deg, --alpha(var(--color-brand-extralight) / 70%) 0%, var(--color-brand-extralight) 100%), conic-gradient(from 180deg at 50% 50%, #90B357 0deg, #B2CF70 135deg, #57B399 237.12deg, #90B357 360deg);
}

.version-label {
  background: var(--color-brand-quitelight);
  border-radius: 100rem;
  padding: calc(var(--spacing) * 1.5) calc(var(--spacing) * 3);
  line-height: 1;
  position: absolute;
  bottom: 0;
  right: 80px;
  font-size: .95rem;
}

.prose {
  color: var(--color-text-main);
  margin: 0 auto;
}

.prose a {
  font-weight: semibold;
  color: var(--color-gray-950);
  font-weight: var(--font-weight-medium);
  text-decoration: underline;
  text-decoration-color: var(--color-brand-prime)
}

.prose h2,
.prose h3,
.prose h4,
.prose h5 {
  font-weight: var(--font-weight-extrabold);
  color: var(--color-text-strong);
  margin: 1.4rem 0 .4rem
}

.prose h2 {
  font-size: var(--text-3xl)
}

.prose h3 {
  font-size: var(--text-2xl)
}

.prose h4 {
  font-size: var(--text-xl)
}

.prose h5 {
  font-size: var(--text-lg)
}

.prose hr {
  border-color: var(--color-brand-quitelight)
}

.prose p {
  margin: 1rem 0;
  line-height: 1.8
}

.prose p code {
  background: var(--color-brand-quitelight);
  border-radius: var(--radius-sm);
  margin-right: 2px;
  padding: 0 .4rem;
  font-family: var(--font-dm-mono), Maple Mono, Jetbrains Mono, Roboto Mono, monospace;
  font-size: .9rem;
  display: inline-block
}

.prose pre {
  background: var(--color-code-bg);
  border-radius: var(--radius-lg);
  white-space: pre-wrap;
  color: var(--color-gray-200);
  margin: 1.4rem 0;
  font-family: var(--font-dm-mono), Maple Mono, Jetbrains Mono, Roboto Mono, monospace;
  font-size: .9rem
}

.prose pre header {
  background: var(--color-code-header);
  border-radius: var(--radius-lg) var(--radius-lg) 0 0;
  padding: calc(var(--spacing) * 3) calc(var(--spacing) * 5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #d3dfda;
  font-size: var(--text-sm);
  line-height: 1;
}

.prose pre code {
  padding: calc(var(--spacing) * 4) calc(var(--spacing) * 5);
  display: block;
}

.docs-layout {
  padding-left: 300px;
}

.docs-header {
  padding: calc(var(--spacing) * 12) 0;
}

.docs-header h4 {
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  font-size: var(--text-sm);
  margin-bottom: var(--spacing);
  color: var(--color-text-subtle);
}

.docs-header h1 {
  color: var(--color-text-strong);
  font-weight: var(--font-weight-extrabold);
  font-size: var(--text-3xl);
}

.docs-sidebar {
  position: fixed;
  width: 300px;
  top: 0;
  left: 0;
  bottom: 0;
  background: conic-gradient(from 180deg at 50% 50%, --alpha(#90B357 / 20%) 0deg, --alpha(#B2CF70 / 20%) 135deg, --alpha(#57B399 / 20%) 237.12deg, --alpha(#90B357 / 20%) 360deg);
}

.docs-sidebar .sidebar-logo {
  padding: calc(var(--spacing) * 4) calc(var(--spacing) * 4) calc(var(--spacing) * 2);
  border-bottom: --alpha(#90B356 / 10%) 1px solid;
  display: block;
}

.docs-sidebar nav {
  padding: calc(var(--spacing) * 4) calc(var(--spacing) * 5);
}

.docs-sidebar h5 {
  font-weight: var(--font-weight-semibold);
  margin-bottom: calc(var(--spacing) * 2);
  color: var(--color-text-strong);
}

.docs-sidebar nav>ul {
  display: grid;
}

.docs-sidebar nav>ul>li a {
  padding: calc(var(--spacing) * 2) 0;
  color: var(--color-text-main);
  font-size: var(--text-sm);
  display: block;
}

/* Docs index */

.docs-links li>a {
  display: block;
  padding: calc(var(--spacing) * 4) calc(var(--spacing) * 6);
  border-radius: var(--radius-md);
  border: 2px solid var(--color-brand-quitelight);
  transition-duration: var(--default-transition-duration);
  transition-timing-function: var(--default-transition-timing-function);
  transition-property: border-color, transform;
  transform: translateY(0);
}

.docs-links li>a:hover {
  transform: translateY(calc(var(--spacing) * -1));
  border-color: var(--color-brand-prime);
  cursor: pointer;
}

.docs-links li>a h3 {
  font-weight: var(--font-weight-bold);
  color: var(--color-text-strong);
  font-size: var(--text-lg);
}

.docs-links li>a p {
  font-size: var(--text-sm);
  color: var(--color-text-main);
}

/* Highlighting */
.hl-keyword {
  color: #c0a7f1;
}

.hl-module {
  color: #ddebf1;
}

.hl-variant {
  color: #d38064;
}

.hl-function {
  color: #94b4ed;
}

.hl-operator {
  color: #95e2fc;
}

.hl-comment {
  color: #a3aca9;
}

.hl-number {
  color: #d38064;
}

.hl-string {
  color: #a0d086;
}
