:root {
  --gap: 12px;
  --gap-l: calc(var(--gap) * 2);
  --gap-xl: calc(var(--gap) * 4);
  --page-width: 850px;
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  font-family: sans-serif;
  font-size: 17px;
  line-height: 1.25;
}

a {
  text-decoration-style: dotted;
}

a:hover {
  text-decoration-thickness: 2px;
}

.home-hero {
  margin: 0;
  padding: 0;
  min-height: 70vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: hsla(90, 60%, 64%, 1);
  background-image: radial-gradient(
      at 65% 68%,
      hsla(87, 56%, 61%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 99% 98%, hsla(66, 44%, 75%, 1) 0px, transparent 50%),
    radial-gradient(at 39% 18%, hsla(53, 67%, 66%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 1%, hsla(88, 76%, 80%, 1) 0px, transparent 50%),
    radial-gradient(at 15% 73%, hsla(152, 89%, 71%, 1) 0px, transparent 50%),
    radial-gradient(at 50% 99%, hsla(97, 48%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 98% 0%, hsla(121, 69%, 81%, 1) 0px, transparent 50%);
}

.home-hero img {
  width: 360px;
}

.home-hero nav {
  position: absolute;
  top: 0;
  text-align: right;
  width: 100%;
  padding: var(--gap-l);
}

.home-hero nav a {
  color: black;
  opacity: 0.8;
  margin: 0 var(--gap);
}

.content-width {
  max-width: 100%;
  width: var(--page-width);
  margin: 0 auto;
  padding: var(--gap-l);
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-l);
}

.features li {
  list-style: none;
  width: calc((var(--page-width) - var(--gap-l) * 3) * 0.5);
  max-width: 100%;
}

pre {
  font-size: 16px;
  padding: var(--gap-l);
  background-color: #f5f5f5;
  box-shadow: 7px 7px #c0c0c0;
  margin: var(--gap-l) 0;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--gap-xl);
}
