name: test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test-action:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: "27.0"
          gleam-version: "1.4.0"
          rebar3-version: "3"
          # elixir-version: "1.14.2"
      - run: gleam format --check src test
      - run: gleam deps download
      - run: gleam test

      - name: "Example: 00-hello-world"
        run: gleam test
        working-directory: examples/00-hello-world

      - name: "Example: 01-routing"
        run: gleam test
        working-directory: examples/01-routing

      - name: "Example: 02-working-with-form-data"
        run: gleam test
        working-directory: examples/02-working-with-form-data

      - name: "Example: 03-working-with-json"
        run: gleam test
        working-directory: examples/03-working-with-json

      - name: "Example: 04-working-with-other-formats"
        run: gleam test
        working-directory: examples/04-working-with-other-formats

      - name: "Example: 05-using-a-database"
        run: gleam test
        working-directory: examples/05-using-a-database

      - name: "Example: 06-serving-static-assets"
        run: gleam test
        working-directory: examples/06-serving-static-assets

      - name: "Example: 07-logging"
        run: gleam test
        working-directory: examples/07-logging

      - name: "Example: 08-working-with-cookies"
        run: gleam test
        working-directory: examples/08-working-with-cookies

      - name: "Example: 09-configuring-default-responses"
        run: gleam test
        working-directory: examples/09-configuring-default-responses

      - name: "Example: 10-working-with-files"
        run: gleam test
        working-directory: examples/10-working-with-files
