name: test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test-action:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.5.1
      - uses: erlef/setup-beam@v1.15.4
        with:
          otp-version: "25.2"
          gleam-version: "0.30.5"
          rebar3-version: "3"
          # elixir-version: "1.14.2"
      - run: gleam format --check src test
      - run: gleam deps download
      - run: gleam test

      - run: gleam test
        working-directory: examples/0-hello-world

      - run: gleam test
        working-directory: examples/1-routing

      - run: gleam test
        working-directory: examples/2-working-with-form-data

      - run: gleam test
        working-directory: examples/3-working-with-json

      - run: gleam test
        working-directory: examples/4-working-with-other-formats

      - run: gleam test
        working-directory: examples/5-using-a-database

      - run: gleam test
        working-directory: examples/6-serving-static-assets

      - run: gleam test
        working-directory: examples/7-logging
